<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    xmlns:tools="http://schemas.android.com/tools"
    package="com.diplomproject.learningtogether">

    <application
        android:name="com.diplomproject.learningtogether.AppLearningTogether"
        tools:replace="android:name">

        <activity
            android:name="com.diplomproject.learningtogether.ui.TogetherActivity"
            android:exported="false" />

        <activity
            android:name="com.diplomproject.learningtogether.LearningTogetherActivity"
            android:exported="false" />
    </application>

</manifest>